@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  font-family: Nunito;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}

.profile {
  text-align: center;
}

.profile img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  margin: 20px 0;
}

.experience {
  margin: 20px 0;
}

.experience h2 {
  text-align: center;
}

.experience-list {
  display: none;
}

.education {
  margin: 20px 0;
}

.education h2 {
  text-align: center;
}

.education-list {
  display: none;
}

.extra-bold {
  font-weight: 500;
}
  

.bold {
  font-weight: 300;
}
  

.thin {
  font-weight: 100;
}
